<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Read-aloud notification with lock-screen controls (foreground service) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>
    <application
        android:label="ReadIn"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- "Share → ReadIn" (one file) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/vnd.ms-excel"/>
                <data android:mimeType="application/vnd.ms-powerpoint"/>
                <data android:mimeType="application/vnd.oasis.opendocument.text"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/markdown"/>
                <data android:mimeType="text/csv"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="application/rtf"/>
                <data android:mimeType="text/rtf"/>
                <data android:mimeType="application/x-mobipocket-ebook"/>
                <data android:mimeType="application/vnd.amazon.ebook"/>
                <data android:mimeType="application/x-fictionbook+xml"/>
                <data android:mimeType="application/vnd.comicbook+zip"/>
                <data android:mimeType="application/x-cbz"/>
                <data android:mimeType="application/x-cbr"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>

            <!-- "Share → ReadIn" (several files) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/vnd.ms-excel"/>
                <data android:mimeType="application/vnd.ms-powerpoint"/>
                <data android:mimeType="application/vnd.oasis.opendocument.text"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/markdown"/>
                <data android:mimeType="text/csv"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="application/rtf"/>
                <data android:mimeType="text/rtf"/>
                <data android:mimeType="application/x-mobipocket-ebook"/>
                <data android:mimeType="application/vnd.amazon.ebook"/>
                <data android:mimeType="application/x-fictionbook+xml"/>
                <data android:mimeType="application/vnd.comicbook+zip"/>
                <data android:mimeType="application/x-cbz"/>
                <data android:mimeType="application/x-cbr"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>

            <!-- "Open with → ReadIn" from file managers, browsers, e-mail -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/vnd.ms-excel"/>
                <data android:mimeType="application/vnd.ms-powerpoint"/>
                <data android:mimeType="application/vnd.oasis.opendocument.text"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/markdown"/>
                <data android:mimeType="text/csv"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="application/rtf"/>
                <data android:mimeType="text/rtf"/>
                <data android:mimeType="application/x-mobipocket-ebook"/>
                <data android:mimeType="application/vnd.amazon.ebook"/>
                <data android:mimeType="application/x-fictionbook+xml"/>
                <data android:mimeType="application/vnd.comicbook+zip"/>
                <data android:mimeType="application/x-cbz"/>
                <data android:mimeType="application/x-cbr"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>
        </activity>

        <service
            android:name=".ReadAloudService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"/>

        <!-- Shares / opens files from the app's private storage -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
